[submodule "vendor/ESP8266_RTOS_SDK"]
	path = vendor/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK
	ignore = dirty
[submodule "vendor/FreeRTOS"]
	path = vendor/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	ignore = dirty
[submodule "vendor/BearSSL"]
	path = vendor/BearSSL
	url = https://github.com/mincrmatt12/bearssl-dyncert
	ignore = dirty
[submodule "vendor/lwip"]
	path = vendor/lwip
	url = https://github.com/lwip-tcpip/lwip
[submodule "vendor/CMSIS_6"]
	path = vendor/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6
[submodule "vendor/STM32F2xx_HAL_Driver"]
	path = vendor/STM32F2xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f2xx-hal-driver
[submodule "vendor/STM32F4xx_HAL_Driver"]
	path = vendor/STM32F4xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver
[submodule "vendor/CMSIS_Device_STM32F2xx"]
	path = vendor/CMSIS_Device_STM32F2xx
	url = https://github.com/STMicroelectronics/cmsis-device-f2
[submodule "vendor/CMSIS_Device_STM32F4xx"]
	path = vendor/CMSIS_Device_STM32F4xx
	url = https://github.com/STMicroelectronics/cmsis-device-f4
