.contbrd {
	padding-top: 10px;
}

.hr-gray {
	border-color: #666666 !important;
}

.hr-darkgray {
	border-color: #444444 !important;
}

.force-enabled {
	pointer-events: all;
}

.border-black {
	border-color: #222 !important;
}

// Terminal stuff

.terminal {
	height: 80vh;
	overflow: scroll;
	background-color: map-get($theme-colors, "light");
	padding: 0.2em;
}

.terminal-text {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.5em;
}
